:host{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
}

.h2{
    display: block;
}

.file-input{
    display: none;
}

.file-upload{
    width: 100%;
    border: 2px solid gray;
    border-radius: 2px;
    display: grid;
    grid-template-columns: 150px 100px;
    padding: 5px;
    width: fit-content;
    height: fit-content;
}

.upload-btn{
    color: rgb(32, 103, 196);
    width: 100%;
    background: none;
    border: none;
    cursor: pointer;
}